<div class="crucero-container" *ngIf="escapada">
    <h3>{{escapada.Nombre}}</h3>
    <h5>{{escapada.Ubicacion}}</h5>
    <h6>{{escapada.Precio}}€</h6>
    <img src="{{escapada.Imagen}}" alt="{{escapada.Nombre}}" />
    <p>{{escapada.Descripcion}}</p>
    <h4> Actividades </h4>
    <p>{{escapada.Actividades.Itinerario.Dia1}}</p>
    <p>{{escapada.Actividades.Itinerario.Dia2}}</p>
    <div class="edit-container">
        <!-- <button type="button" class="btn btn-outline-success" (click)="editCharact()"> Editar Personaje </button> -->
        <button type="button" class="btn btn-outline-danger" (click)="deleteEscapada()"> Eliminar </button>
    </div>
</div>
