<div *ngIf="escapada">
    <h3>{{escapada.Nombre}}</h3>
    <p>{{escapada.Ubicacion}}</p>
    <p>{{escapada.Precio}}</p>
    <img src="{{escapada.Imagen}}" alt="{{escapada.Nombre}}" />
    <p>{{escapada.Descripcion}}</p>
    <p>{{escapada.Actividades.Itinerario.Dia1}}</p>
    <p>{{escapada.Actividades.Itinerario.Dia2}}</p>
    <div class="edit-container">
        <button type="button" class="btn btn-outline-success" (click)="putEscapada()"> Editar Personaje </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteEscapada()"> Eliminar </button>
    </div>
</div>
