<div *ngIf="crucero">
    <h3>{{crucero.Nombre}}</h3>
    <p>{{crucero.Ubicacion}}</p>
    <p>{{crucero.Precio}}</p>
    <img src="{{crucero.Imagen}}" alt="{{crucero.Nombre}}" />
    <p>{{crucero.Descripcion}}</p>
    <p>{{crucero.Actividades.Itinerario.Dia1}}</p>
    <p>{{crucero.Actividades.Itinerario.Dia2}}</p>
    <div class="edit-container">
        <button type="button" class="btn btn-outline-success" (click)="putCrucero()"> Editar </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteCrucero()"> Eliminar </button>
    </div>
</div>
