<div *ngIf="spa">
    <h3>{{spa.Nombre}}</h3>
    <p>{{spa.Ubicacion}}</p>
    <p>{{spa.Precio}}</p>
    <img src="{{spa.Imagen}}" alt="{{spa.Nombre}}" />
    <p>{{spa.Descripcion}}</p>
    <p>{{spa.Actividades.Itinerario.Dia1}}</p>
    <p>{{spa.Actividades.Itinerario.Dia2}}</p>
    <div class="edit-container">
        <button type="button" class="btn btn-outline-success" (click)="putSpa()"> Editar Personaje </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteSpa()"> Eliminar </button>
    </div>
</div>
