<div class="crucero-container" *ngIf="spa">
    <h3>{{spa.Nombre}}</h3>
    <h5>{{spa.Ubicacion}}</h5>
    <h6>{{spa.Precio}}€</h6>
    <img src="{{spa.Imagen}}" alt="{{spa.Nombre}}" />
    <p>{{spa.Descripcion}}</p>
    <h4> Actividades </h4>
    <p>{{spa.Actividades.Itinerario.Dia1}}</p>
    <p>{{spa.Actividades.Itinerario.Dia2}}</p>
    <div class="edit-container">
        <button type="button" class="btn btn-outline-success" (click)="putSpa()" *ngIf="token"> Editar </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteSpa()" *ngIf="token"> Eliminar </button>
    </div>
</div>
