<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Viaja , sueña</h5>
  
          <p>
            Bienvenid@ a la web "Viaja, sueña" donde encontraras la mejor oferta en descanso para todos los gustos.
            Disfruta de la experiencia.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Secciones</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a  routerLink="/escapadas" class="text-white">Escapadas</a>
            </li>
            <li>
              <a  routerLink="/cruceros" class="text-white">Cruceros</a>
            </li>
            <li>
              <a  routerLink="/islas" class="text-white">Islas</a>
            </li>
            <li>
              <a  routerLink="/spas" class="text-white">Spas</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="www.facebook.es" class="text-white"><img class="ico" src="https://www.pngmart.com/files/15/Circle-Facebook-Logo-PNG-Transparent-Image.png" alt="Facebook"></a>
            </li>
            <li>
              <a href="www.twitter.es" class="text-white"><img class="ico" src="https://e7.pngegg.com/pngimages/284/281/png-clipart-logo-the-longstore-organization-restaurant-industry-twitter-bird-food-company.png" alt="Twitter"></a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
