<footer class="bg-primary text-white text-center text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container p-4 ">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Viaja , sueña</h5>
  
          <p>
            Bienvenid@ a la web "Viaja, sueña" donde encontraras la mejor oferta en descanso para todos los gustos.
            Disfruta de la experiencia.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Secciones</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a  routerLink="/escapadas" class="text-white">Escapadas</a>
            </li>
            <li>
              <a  routerLink="/cruceros" class="text-white">Cruceros</a>
            </li>
            <li>
              <a  routerLink="/islas" class="text-white">Islas</a>
            </li>
            <li>
              <a  routerLink="/spas" class="text-white">Spas</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="www.facebook.es" class="text-white"><img class="ico" src="https://www.pngmart.com/files/15/Circle-Facebook-Logo-PNG-Transparent-Image.png" alt="Facebook"></a>
            </li>
            <li>
              <a href="www.twitter.es" class="text-white"><img class="ico" src="https://img.freepik.com/iconos-gratis/gorjeo_318-562462.jpg" alt="Twitter"></a>
            </li>
            <li>
              <a href="www.google.es" class="text-white"><img class="ico" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-download-icons-18.png" alt="Google"></a>
            </li>
            
            <li>
              <a href="www.github.com" class="text-white"><img class="ico" src="https://cdn.iconscout.com/icon/free/png-256/free-github-brand-logo-47401.png?f=webp" alt="Github"></a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">Nuestro equipo</a>
    </div>
    <!-- Copyright -->
  </footer>
